.App {
  display: flex;
  background-color: #000000db;
  height: 100vh;
}

.Menu {
  flex-grow: 0;
  border-right: 1px solid #a04343;
  padding: 0 15px;
  color: white;
  margin-top: 1.5rem;
}

.Menu h4 {
  text-align: center;
}

.Main {
  /* flex:1 1 auto; */
  flex-grow: 1;
}

.scenarioSelector {
  margin: 10px 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}