.App {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1.25fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}

.Menu {
  grid-area: 1 / 1 / 2 / 2;
}

.Main {
  grid-area: 1 / 2 / 2 / 3;
}

.Code {
  grid-area: 1 / 3 / 2 / 4;
}

.App {
  background-color: #000000db;
  height: 100vh;
}

.Menu {
  border-right: 1px solid #a04343;
  padding: 0 15px;
  color: white;
  margin-top: 1.5rem;
}

.Menu h4 {
  text-align: center;
}

.scenarioSelector {
  margin: 10px 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
